name: stella

networks:
  mlentory_network:
    external: true

services:
  server:
    image: thestellaproject/stella-server:latest
    expose:
      - "8000"
    ports:
      - "8800:8000"
    networks:
      - mlentory_network
    environment:
      - FLASK_APP=app/app
      - FLASK_CONFIG=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PW=change-me
      - POSTGRES_DB=postgres
      - POSTGRES_URL=db-server:5432
      - SECRET_KEY=change-me
      - AUTOMATOR_GH_KEY=
      - ADMIN_MAIL=admin@stella-project.org
      - ADMIN_PASS=pass
      - SITE_MAIL=site@stella-project.org
      - SITE_PASS=pass
      - EXPERIMENTER_MAIL=experimenter@stella-project.org
      - EXPERIMENTER_PASS=pass

    command: gunicorn -w 2 --timeout 60 -b :8000 'app.app:create_app()'
    depends_on:
      - db-server

  db-server:
    container_name: stella-db-server
    image: postgres:16
    expose:
      - "5432"
    ports:
      - "5433:5432"
    networks:
      - mlentory_network
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=change-me
      - POSTGRES_DB=postgres
  
  nginx:
    restart: always
    build: ./nginx
    ports:
      - "9000:80"
      # - 443:443
    # volumes:
    #   - /etc/ssl:/etc/ssl
    #   - /etc/letsencrypt/live:/etc/letsencrypt/live
    #   - /etc/letsencrypt/archive:/etc/letsencrypt/archive
    networks:
      - mlentory_network
    depends_on:
      - server