{% extends "base.html" %}


{% block title %}STELLA{% endblock %}

{% block page_content %}

    <h2>Dashboard</h2>
{#    <dif class="container-fluid full-width">#}
{#        <dif class="row row-no-gutters">#}
{##}
{#            <dif class="col-sm-4 col-md-4">#}
{#                <div class="embed-responsive embed-responsive-4by3">#}
{#                    <iframe class="embed-responsive-item"  src="data:text/html;charset=utf-8,%3Chtml%3E%3Cbody%3E{{traffic}}%3C/body%3E%3C/html%3E" ></iframe>#}
{#                </div>#}
{#            </dif>#}
{##}
{#            <dif class="col-sm-4 col-md-4">#}
{#                <div class="embed-responsive embed-responsive-4by3">#}
{#                    <iframe class="embed-responsive-item"  src="data:text/html;charset=utf-8,%3Chtml%3E%3Cbody%3E{{clicks}}%3C/body%3E%3C/html%3E" ></iframe>#}
{#                </dif>#}
{#             </dif>#}
{##}
{#            <dif class="col-sm-4 col-md-4">#}
{#                <div class="embed-responsive embed-responsive-4by3">#}
{#                    <iframe class="embed-responsive-item"  src="data:text/html;charset=utf-8,%3Chtml%3E%3Cbody%3E{{clicks}}%3C/body%3E%3C/html%3E" ></iframe>#}
{#                </div>#}
{#            </dif>#}
{#        </dif>#}
{#    </dif>#}
{##}
{##}
{#    </dif>#}

    <dif class="container-fluid full-width has-inner">
        <dif class="row row-no-gutters">


            {% for id in ids %}
            <div class="col-sm-4 col-md-4">
                <div class="embed-responsive embed-responsive-4by3 " id="{{id}}"></div>
            </div>
            {% endfor %}


        </div>
    </dif>




{#        {% if traffic %}#}
{##}
{##}
{##}
{#        {% endif %}#}


<footer>
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script type="text/javascript">

        var graphs = {{graphJSON | safe}};
        var ids = {{ids | safe}};

        for(var i in graphs) {
            Plotly.plot(ids[i], // the ID of the div, created above
                        graphs[i].data,
                        graphs[i].layout || {});
        }

    </script>
</footer>

{% endblock %}

