{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}STELLA dashboard{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h1>Dashboard</h1>
    </div>

    <!-- Erstellen der Bootstrap elemente für das Raster  -->
    <div class="container-fluid full-width has-inner">


        <div style=margin-bottom:80px;>
            <form method="POST" action="/dashboard">
                <div class="row">
                    <div class="col-md-6">
                        <div style="width: 300px; margin-left: auto;">   
                            {{ form.system(class="form-control", style="width: 300px;") }}
                        </div>
                    </div>
                    
                    <div class="col-md-3 text-center">
                        <div class="switch-box" style="width: 300px; margin-right: auto;"> 
                            <span title="Filters out comparisons where only one system returned results">
                                <strong>Exclude failed interleavings</strong>
                            </span>
                            <label class="switch">
                                {{ form.exclude_failed_interleavings(style="width: 300px;") }}
                                <span class="slider"></span>
                            </label>
                        </div>
                        
                    </div>
                    <div class="col-md-3">
                        <div style="width: 100px; margin-left: auto; margin-right: auto;">
                            {{ form.submit(class="btn btn-primary form-control", style="width: 120px;") }}
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 35px;">
                    <div class="col-md-6">
                        <div style="width: 300px; margin-left: auto;">
                            <label class="form-label">Start Date</label>
                            {{ form.start_date(class="form-control", style="width: 300px;") }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div style="width: 300px; margin-right: auto;">
                            <label class="form-label">End Date</label>
                            {{ form.end_date(class="form-control", style="width: 300px;") }}
                        </div>
                    </div>
                </div>
                
            </form>
        </div>

        <div class="row row-no-gutters">

        <!-- Schleife zum Füllen des Rasters mit Diagrammen  -->
            {% for id in ids %}
                <div class="col-sm-6 col-md-6 ">
                    <div class="embed-responsive embed-responsive-4by3 " id="{{id}}"></div>
                </div>
            {% endfor %}
        </div>
    </div>


<footer>
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


    <!-- Javascript zum zerlegen der JSON in einzelne Diagramme  -->
    <script type="text/javascript">

        var graphs = {{graphJSON | safe}};
        var ids = {{ids | safe}};


        for(var i in graphs) {
            Plotly.plot(ids[i], graphs[i].data, graphs[i].layout || {});
        }

    </script>
</footer>

{% endblock %}