{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}STELLA{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h1>Dashboard</h1>
    </div>

    <!-- Erstellen der Bootstrap elemente für das Raster  -->
    <div class="container-fluid full-width has-inner">


        <div style=margin-bottom:80px;>
            <form method="POST" action="/dashboard">
                <div class="col-md-5">
                    {{ wtf.form_field(form.system, form_type="horizontal") }}
                </div>
                <div class="col-md-5">
                    {{ wtf.form_field(form.site, form_type="horizontal") }}
                </div>
                <div class="col-md-2">
                    {{ wtf.form_field(form.submit) }}
                </div>
            </form>
        </div>


        <div class="row row-no-gutters">

        <!-- Schleife zum Füllen des Rasters mit Diagrammen  -->
            {% for id in ids %}
                <div class="col-sm-6 col-md-6 ">
                    <div class="embed-responsive embed-responsive-4by3 " id="{{id}}"></div>
                </div>
            {% endfor %}
        </div>
    </div>


<footer>
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


    <!-- Javascript zum zerlegen der JSON in einzelne Diagramme  -->
    <script type="text/javascript">

        var graphs = {{graphJSON | safe}};
        var ids = {{ids | safe}};


        for(var i in graphs) {
            Plotly.plot(ids[i], graphs[i].data, graphs[i].layout || {});
        }

    </script>
</footer>

{% endblock %}