{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}STELLA User{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Systems</h1>
    </div>

    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th scope="col">Status</th>
            <th scope="col">Name</th>
            <th scope="col">Submission date</th>
            <th scope="col">Site</th>
            <th scope="col">Task</th>
            <th scope="col">Type</th>
            <th scope="col">Repository</th>
            {% if current_user.role.name != 'Participant' %}
                <th scope="col">Activate</th>
                <th scope="col">Deactivate</th>
            {% endif %}
            <th scope="col">Delete</th>
            <th scope="col">Feedback Data</th>
        </tr>
        </thead>
        <tbody>


        {% for i in systems %}
            <tr>
                {% if i.status == 'running' %}
                    <td scope="row"><span class="badge badge-success">running</span></td>
                {% elif i.status == 'submitted' %}
                    <td scope="row"><span class="badge badge-secondary">submitted</span></td>
                {% elif i.status == 'error' %}
                    <td scope="row"><span class="badge badge-danger">error</span></td>
                {% else %}
                    <td scope="row"><span class="badge badge-danger">running</span></td>
                {% endif %}

                <td>{{ i.name  | replace("_"," ") }}</td>
                <td>{% if i.submission_date %}{{ i.submission_date }} {% else %} - {% endif %}</td>
                <td>
                    {% if i.type == 'RANK' %}
                        LIVIVO
                    {% elif i.type == 'REC' %}
                        GESIS
                    {% endif %}
                </td>
                <td>
                    {% if i.type == 'RANK' %}
                        Ranking
                    {% elif i.type == 'REC' %}
                        Recommendation
                    {% else %}
                        unknown
                    {% endif %}
                </td>

                {% if i.submitted == 'TREC' %}
                    <td>Pre-computed Run</td>
                    <td><a href="{{ i.url }}" class="btnTable" role="button"
                       aria-disabled="true"><i class="fa fa-eye"></i></a></td>
                {% elif i.submitted == 'DOCKER' %}
                    <td>Docker Container</td>
                    <td><a href="{{ i.url }}"  class="btnTable" role="button"
                       aria-disabled="true"><i class="fa fa-eye"></i></a></td>
                {% else %}
                    <td>unknown</td>
                    <td>unknown</td>
                {% endif %}

                {% if current_user.role.name != 'Participant' %}
                    <td>
                        <a href="{{ url_for('main.activate', id=i.id) }}" class="btnTable" role="button"
                       aria-disabled="true"><i class="fa fa-play"></i></a>
                    </td>
                    <td>
                        <a href="{{ url_for('main.deactivate', id=i.id) }}" class="btnTable" role="button"
                       aria-disabled="true"><i class="fa fa-stop"></i></a>
                    </td>
                {% endif %}
                <td>
                    <a href="{{ url_for('main.delete', id=i.id) }}" class="btnTable" role="button"
                       aria-disabled="true"><i class="fa fa-trash"></i></a>
                </td>
                <td>
                    <a href="{{ url_for('main.download', system_id=i.id) }}" class="btnTable" role="button"
                       aria-disabled="true"><i class="fa fa-save"></i></a>
                </td>
            </tr>
        {% endfor %}

        </tbody>

    </table>

    <div class="row border">
        <div class="col-md-4 text-center">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ModalContainer">
                <i class="fa fa-edit"></i> register docker system
            </button>
        </div>
        <div class="col-md-4 text-center">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ModalTREC">
                <i class="fa fa-upload"></i> upload run file
            </button>
        </div>
        <div class="col-md-4 text-center">
             <a href="{{ url_for('main.downloadAll') }}" class="btn btn-primary btn-lg" role="button"
               aria-disabled="true"><i class="fa fa-save"></i> Feedback Data (Bulk)</a>
        </div>
    </div>

    <div id="ModalContainer" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">How to submit a new containerd system:</h2>
                </div>
                <div class="modal-body">
                    <ol>
                        <li>Participating team registers</li>
                        <li>Download required datasets by LIVIVO and GESIS Search</li>
                        <li>Clone project <a target="_blank" href="https://github.com/stella-project/container_template">template</a> from STELLA GitHub Organization</li>
                        <li>Implement REST-API endpoints such that rankings and recommendations can be retrieved from
                            the Docker container
                        </li>
                        <li>Development finished → Register repository</li>
                        <li>The Docker container with the experimental system is integrated into the STELLA app</li>
                        <li>Evaluate system with user feedback</li>
                        <li>Adapt system with the help of provided feedback</li>
                    </ol>
                    <br/>
                    <div>
                        {{ wtf.quick_form(formContainer) }}
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div id="ModalTREC" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">How to submit a new ranking:</h2>
                </div>
                <div class="modal-body">
                    <ol>
                        <li>Participating team registers</li>
                        <li>Download required datasets by LIVIVO and GESIS Search</li>
                        <li>Clone project template from STELLA GitHub Organization</li>
                        <li>Implement REST-API endpoints such that rankings and recommendations can be retrieved from
                            the Docker container
                        </li>
                        <li>Development finished → Register repository</li>
                        <li>The Docker container with the experimental system is integrated into the STELLA app</li>
                        <li>Evaluate system with user feedback</li>
                        <li>Adapt system with the help of provided feedback</li>
                    </ol>
                    <br/>
                    <div>
                        {{ wtf.quick_form(formRanking) }}
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <br/>

{#    <form action="{{ url_for('main.upload_files') }}" class="dropzone"></form>#}

    <footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </footer>
    <style>
        .badge-success {
            background-color: green;
        }

        .badge-danger {
            background-color: darkred;
        }

        .btnTable {
            color: #fff;
            display: inline-block;
            line-height: 2.5;
            padding: 0.115em 15px;
            transition: .3s ease;
            background: #525e8b;
            border-color: #525e8b;
        }

        .btnTable:hover {
            background: 0;
            box-shadow: 0 0 1px 3px rgba(82, 94, 139, 0.2);
            border: 2px solid;
            box-sizing: border-box;
            display: inline-block;
            font-size: 14px;
            line-height: 2.5;
            padding: 0.115em 15px;
            border-color: #525e8b;
            color: #201c2d;
            transition: .3s ease;

        }


        .btn {
            border-radius: 0px;
            box-sizing: border-box;
            color: #fff;
            display: inline-block;
            font-size: 14px;
            height: 3em;
            letter-spacing: 0.075em;
            line-height: 2.5;
            padding: 0.25em 35px;
            text-transform: uppercase;
            transition: .3s ease;
            background: #525e8b;
            border-color: #525e8b;
            margin-right: 15px;
            border: 2px;
            font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
        }

        .btn:hover {
            background: 0;
            box-shadow: 0 0 1px 7px rgba(82, 94, 139, 0.2);
            border: 2px solid;
            border-radius: 0px;
            box-sizing: border-box;
            display: inline-block;
            font-size: 14px;
            height: 3em;
            padding: 0.25em 35px;
            letter-spacing: 0.075em;
            border-color: #525e8b;
            color: #201c2d;
            outline: 0;
            text-transform: uppercase;
            transition: .3s ease;

        }
        tr {
           line-height: 60px;
           min-height: 60px;
           height: 60px;
        }

        td {
            text-align: center; 
            vertical-align: middle;
        }

    </style>

{% endblock %}