{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}STELLA User{% endblock %}

{% block page_content %}
    <br/>
    <div class="container">
<!-- box head -->
        <div class="row border justify-content-center">
            <div class="col-md-2"></div>
            <div class="col-md-8 titleBox">
                <div class="row justify-content-center">
                    <h1>{{ current_user.username }}</h1>
                </div>
            </div>
        </div>

        <div class="row border justify-content-center">
            <div class="col-md-2"></div>
            <div class="col-md-8 box1">
                <div class="row">
                    <!-- change forms -->
                    <div class="col-lg-6">
                        <h3>Change Username or Email:</h3>
                        {{ wtf.quick_form(form) }}
                        <br/>
                    </div>
                    <div class="col-lg-6">
                        <h3>Change Password:</h3>
                        {{ wtf.quick_form(changePasswordForm) }}
                    </div>
                </div>
                <br />
                <hr>
                <div class="row">
                    <div class="button-box col-lg-12 text-center">
                        <a href="mailto:name@email.com" class="btn btn-primary btn-lg" role="button"
                           aria-disabled="true">Support</a>
                        <a href="{{ url_for('auth.logout') }}" class="btn btn-primary btn-lg" role="button"
                           aria-disabled="true">Log Out</a>
                    </div>
                </div>

                <div class=row">


                </div>

            </div>
        </div>
        <br/>
    </div>

    <style>
        .btn {
            border-radius: 0px;
            box-sizing: border-box;
            color: #fff;
            display: inline-block;
            font-size: 14px;
            height: 3em;
            letter-spacing: 0.075em;
            line-height: 2.5;
            padding: 0.25em 35px;
            text-transform: uppercase;
            transition: .3s ease;
            background: #525e8b;
            border-color: #525e8b;
            margin-right: 15px;
            border: 2px;
            font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
        }

        .btn:hover {
            background: 0;
            box-shadow: 0 0 1px 7px rgba(82, 94, 139, 0.2);
            border: 2px solid;
            border-radius: 0px;
            box-sizing: border-box;
            display: inline-block;
            font-size: 14px;
            height: 3em;
            padding: 0.25em 35px;
            letter-spacing: 0.075em;
            border-color: #525e8b;
            color: #201c2d;
            outline: 0;
            text-transform: uppercase;
            transition: .3s ease;

        }

        .box1 {
            padding: 2%;
            border: 2px solid;
            border-color: #525e8b;
            margin-left: 10px;
        }

        .titleBox {
            border-left: 2px solid;
            border-top: 2px solid;
            border-right: 2px solid;
            border-color: #525e8b;
            margin-left: 10px;
            color: white;
            background: #201C2D;
            text-align: center;
        }
    </style>

{% endblock %}