Flask
Flask-SQLAlchemy
Jinja2
MarkupSafe
SQLAlchemy
Werkzeug
gunicorn
itsdangerous
psycopg2
flask-bootstrap
flask-wtf
flask-script
flask-migrate
flask-login
flask-httpauth
plotly
email_validator
ruamel.yaml
PyGithub
